<h1><img id="logo_small" src="/img/logo.png"></h1>
<form id="contact" method="post" action="/mail">
    <label for="email">E-Mail Address</label><br/>
    <input type="text" name="email"><br/>
    <label for="message">Your Message</label><br/>
    <textarea name="message"></textarea><br/>
    <input type="submit" value="Send It" id="submit">
</form>