<div id="container">
    <h1 id="logo">ctrl+reset</h1>
    <h2 id="tag">the web now works for you</h2>
    <ul>
        <li id="blog_link"><a href="http://blog.ctrlreset.com">Blog</a></li>
        <li>|</li>
        <li id="tb_link"><a href="http://thoughtback.com">Thoughtback</a></li>
        <li>|</li>
        <li id="contact_link"><a href="#">Contact Us</a></li>
    </ul>
    <div id="hoverzone">
        <p id="blog">Our thoughts on technology &amp; society.</p>
        <p id="tb">Our first app, made at Startup Weekend.</p>
        <p id="contact">Interested in working with us?</p>
    </div>
</div>
