<h1 id="logo">ctrl+reset</h1>
<h2 id="tag">the web now works for you</h2>
<ul id="nav">
    <li id="team_link"><a href="/team">The Team</a></li>
    <li id="blog_link"><a href="http://blog.ctrlreset.com">Blog</a></li>
    <li id="tb_link"><a href="http://thoughtback.com">Thoughtback</a></li>
    <li id="contact_link" class="no_bar"><a href="/contact">Contact Us</a></li>
</ul>
<div id="hoverzone">
    <p id="team">The men behind the work.</p>
    <p id="blog">Our thoughts on technology &amp; society.</p>
    <p id="tb">Our first app, made at Startup Weekend.</p>
    <p id="contact">Interested in working with us?</p>
</div>
