$width: 464px;
$red: #ED1D25;

@mixin centered {
  margin: 0 auto 0 auto;
}

@mixin notext {
  text-indent: -99999px;
}

@mixin b-shadow {
    -webkit-box-shadow: 0px 1px 3px #000;
    -moz-box-shadow: 0px 1px 3px #000;
    box-shadow: 0px 1px 3px #000;
}

@mixin b-shadow-inset {
    -webkit-box-shadow: inset 0px 1px 3px #333;
    -moz-box-shadow: inset 0px 1px 3px #333;
    box-shadow: inset 0px 1px 3px #333;
    border-bottom: 1px solid #aaa;
}

@mixin border_radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

body {
  background: url(../img/bg.png);
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

#container {
  @include centered;
  width: $width;
  padding: 50px 100px;
  background-color: #fff;
  margin-top: 80px;
  @include b-shadow;
  text-align: center;
}

h1#logo {
  background: url(../img/logo.png) no-repeat;
  width: $width;
  height: 92px;
  @include notext;
}

img#logo_small {
  width: 300px;
  margin-bottom: 20px;
}

h2#tag {
  width: $width;
  @include notext;
  background: url(../img/tag.png) no-repeat;
  height: 36px;
  margin-bottom: 30px;
}

ul#nav {
  li {
    color: #aaa;
    display: inline;
    padding: 0 15px;
    border-right: 1px solid #aaa;
    a {
      text-decoration: none;
      color: #000;
    }
    a:hover {
      color: #ED1D25;
    }
  }
  li.no_bar {
    border: none;
  }
}


#hoverzone {
  height: 30px;
  p {
    display: none;
    color: #aaa;
    font-size: 26px;
    position: relative;
    top: 20px;
  }
}

/* contact form styles */

form#contact {
  width: $width;
  text-align: left;
  margin: 20px 0;
  label {
    font-size: 20px;
    line-height: 40px;
  }
  input[type=text], textarea {
    width: $width;
    border: none;
    @include b-shadow-inset;
    font-size: 14px;
    color: #333;
    padding: 0 5px;
  }
  input {
    height: 30px;
  }
  textarea {
    height: 170px;
    padding: 5px;
  }
  input#submit {
    width: 150px;
    height: 30px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    float: right;
    color: #fff;
    background-color: #008000;
    position: relative;
    left: 10px;
  }
  input#submit:hover {
    cursor: pointer;
    background-color: #008000 + #111111;
  }
}


/* team page styles */

ul#team_ul {
  margin-top: 20px;
  background: url(../img/amp.png) no-repeat;
  background-position: 51%;
  height: 100px;
  li {
    padding-top: 30px;
    display: inline-block;
    width: 49%;
    h2 {  font-size: 22px;  }
    h3 {  font-size: 14px;  color: #000; font-style: italic; font-weight: normal; }
  } 
}

p.italic {
  font-style: italic;
  font-size: 20px;
}










